// sidebar
$menuText:#444;
$menuActiveText:#f08446;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#f8f4ef;
$menuHover:#f8f4ef;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$bgColor: #ecf0f5;

$sideBarWidth: 210px;

$logoWidth: 230px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  logoWidth: $logoWidth;
  bgColor: $bgColor;
}
